* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: silver transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
#container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#prevRace {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;
  height: 50%;
  font-size: 2rem;
  color: white;
  background-color: grey;
  margin-top: 15px;
  padding-top: 4vh;
  z-index: 1;
  position: absolute;
  top: 8%;
  right: 75%;
  opacity: 0.4;
  transform: translate(50%, 5%) scale(0.8);
  background: rgba(9, 9, 9, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(9, 9, 9, 0.4);
  border-radius: 1vw;
}
#currentRace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 50%;
  background-color: grey;
  margin-top: 15px;
  padding-top: 4vh;
  z-index: 2;
  color: white;
  position: absolute;
  top: 5%;
  right: 50%;
  transform: translate(50%, 5%);
  background: rgba(9, 9, 9, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(9, 9, 9, 0.4);
  border-radius: 1vw;
}
#upcomingRace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  margin-top: 15px;
  z-index: 1;
  color: white;
  position: absolute;
  top: 8%;
  right: 25%;
  opacity: 0.4;
  transform: translate(50%, 5%) scale(0.8);
  background: rgba(9, 9, 9, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(9, 9, 9, 0.4);
  border-radius: 1vw;
}
#navigation {
  position: relative;
  top: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 12vh;
  margin-top: 14px;
  background-color: transparent;
}
.navigationItem {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}
.navigationItem:hover {
  transform: scale(1.1);
}
#navigationTabs {
  position: relative;
  top: 20vh;
  width: 100vw;
  height: 42vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}


#standings {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding-top: 20px;
}

#driversStandings {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 10px;
  border-right: solid white 2px;
}

#constructorsStandings {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  opacity: 1;
}

.standingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  border-radius: 5px;
  margin: 4vh;
  background-image: linear-gradient(
    to right,
    #000000,
    #2b0c13,
    #4f0a18,
    #720115,
    #940007
  );
}

.standingsContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}
*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: silver;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

#standingsTitle {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 7%;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin: 10px;
  border: none;
  font-family: "Secular One";
  text-transform: uppercase;
  font-family: "Russo One";
}

.driverStandingsItems {
  display: flex;
  width: 65%;
  height: auto;
  align-items: center;
  color: #ffd700;
  margin: 5px;
  font-family: "Russo One";
  font-size: 1.7rem;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}
.constructorsStandingsItems {
  display: flex;
  width: 65%;
  height: auto;
  align-items: center;
  color: #ffd700;
  margin: 5px;
  font-family: "Russo One";
  font-size: 1.7rem;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.scrollbar{
  
*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: silver;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
}

#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: auto;
  border-top: solid white 2px;
  padding: 4vh;
  gap: 2vh;
}

.newsListItem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 32vh;
  color: white;
  margin: 2vh;
  padding: 1vh;
  background: black;
  border-radius: 5px;
  opacity: 0.9;
}
.newsListItem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 32vh;
  color: white;
  margin: 2vh;
  padding: 1vh;
  opacity: 0.9;
  background: black;
  border-radius: 5px;
}
.bgImageDriver {
  background-image: url("https://e0.365dm.com/22/03/2048x1152/skysports-f1-2022-driver-preview_5706316.jpg  ");
  background-size: cover;
}
.bgImageConst {
  background-image: url("https://e0.365dm.com/19/10/2048x1152/skysports-mercedes-lewis-hamilton_4803555.jpg");
  background-size: cover;
  height: 10px;
  width: 10px;
}
.bgImageTrack {
  background-image: url("https://www.telegraph.co.uk/content/dam/formula-1/2022/01/03/TELEMMGLPICT000259431488_trans_NvBQzQNjv4BqWy_u4a9GUNQgLIY2EGV3qghi1ZMFW4tO_4Pqw0owwW0.jpeg");
  background-size: cover;
  height: 10px;
  width: 10px;
}

/* Animations */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #090909 #0000;
  animation: spin-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #fabf25 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8px;
}

@keyframes spin-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
