* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
#map {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
#trackGrid {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: black;
  overflow:hidden;
 
}
#closeButton {
  position: absolute;
  top: 2vh;
  left: 96vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#openButton {
  position: absolute;
  top: 2vh;
  left: 96vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
#trackList {
  display: inline-block;
  columns: 7;
  margin-top: 15vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.trackListItem {
  display: inline-flex;
  columns: auto;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 18vh;
  margin: 15px;
  color: white;
  text-overflow: contain;
  text-decoration: none;
  font-size: 0.7rem;
  cursor: pointer;
  background: #edcb53;
  background: -webkit-linear-gradient(124deg, #edcb53 0%, #ffa20f 100%);
  background: linear-gradient(124deg, #edcb53 0%, #ffa20f 100%);
}

#mapRaceResults
{
  position:absolute;
  top:55%;
  left:2%;
  width:24vw;
  height:20vw;
  z-index: 1000;
  background-color: white;
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:10px;
  

}

.mapRaceResultsItem
{
  font-family:'Secular One';
  text-decoration: none;
  margin-top:20px;
}

#mapQualiResults{
  position:absolute;
  top:12%;
  left:2%;
  width:24vw;
  height:20vw;
  z-index: 1000;
  background-color: white;
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:10px;
}


.mapQualiResultsItem
{
  font-family:'Secular One';
  text-decoration: none;
  margin-top:20px;
  
}
/* Animations */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #050505 #0000;
  animation: spin-e04l1k 0.75s infinite linear;
  transform: scale(1);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ff4a47 #0000;
  animation: inherit;
  animation-duration: 0.375s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8px;
}

@keyframes spin-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
