* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
#map {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#gridContainer
{
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: black;
}
#trackGrid {
  position: relative;
  top: 0px;
  left:0px;
  width: 90vw;
  height: 90vh;
  z-index: 100000;
  background-color: black;
  overflow: auto;
  padding-bottom: 20px;
}


#openButton {
  position: absolute;
  top: 2vh;
  left: 92vw;
  width: 8vw;
  height: 7vh;
  cursor: pointer;
  z-index: 1000;
}
#trackList {
  display: grid;
  padding: 4vh;
  grid-template-columns: repeat(6,15vw);
  grid-auto-rows: auto;
  margin-top: 5vh;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow:auto;
}
.trackListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 12vw;
  height: 18vh;
  padding-top: 2vh;
  color: #7d4d00;
  font-family: 'Russo One';
  text-overflow: contain;
  text-decoration: none;
  font-size:1rem;
  cursor: pointer;
  background: #ffd700;
  background: -webkit-linear-gradient(124deg, #63615d 0%, #ffa20f 100%);
  background: linear-gradient(124deg, #edcb53 0%, #ffa20f 100%);
}
#trackName
{
  position: absolute;
  top:2vh;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: black;
  font-size: 1.5rem;
  z-index: 1000;
  padding:10px;
  color:#ffd700;
  font-family: 'Russo One';
}
#mapQualiResults{
  position:absolute;
  top:12%;
  left:1%;
  width:40vw;
  height:100vh;
  z-index: 1000;
  color:white;
  list-style: none;
  display:flex;
  flex-direction: column;
  padding:20px;
  cursor: pointer;
  background-color: transparent;
  overflow: auto;
 
}


.mapQualiResultsItem
{
  display: flex;
  font-family:'Russo One';
  text-decoration:none;
  background-color: black;
  color:white;
  margin-top:4vh;
  padding:10px;
  font-size: 0.2rem;
  z-index: 10000;
  
}

#mapRaceResults
{
  position:absolute;
  top:12%;
  left:40%;
  width:35vw;
  height:100vh;
  z-index: 1000;
  background-color: transparent;
  list-style: none;
  display:flex;
  flex-direction: column;
  padding-top:20px;
  cursor: pointer;

}

.mapRaceResultsItem
{
  display: flex;
  font-family:'Russo One';
  text-decoration:none;
  background-color: black;
  color:white;
  margin-top:4vh;
  padding:10px;
  font-size: 0.2rem;
  z-index: 10000;
}

#startingGrid
{
  position:absolute;
  top:20%;
  left:80%;
  width:auto;
  height:auto;
  z-index: 1000;
  background-color: black;
  list-style: none; 
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startingGridItem
{
  width:auto;
  font-family: 'Russo One';
  color:#edcb53;
  width:3.2vw;
  padding:0px 2px 0 2px;
  text-align:center;
  text-transform: uppercase;
  border-top:white 2px solid;
  border-right:white solid 2px;
  border-left:white solid 2px;
  
}


/* Animations */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #050505 #0000;
  animation: spin-e04l1k 0.75s infinite linear;
  transform: scale(1);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ff4a47 #0000;
  animation: inherit;
  animation-duration: 0.375s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8px;
}

@keyframes spin-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
