* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
#map {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
#trackGrid {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: black;
  overflow:hidden;
 
}
#closeButton {
  position: absolute;
  top: 2vh;
  left: 96vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#openButton {
  position: absolute;
  top: 2vh;
  left: 96vw;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
#trackList {
  display: inline-block;
  columns: 7;
  margin-top: 15vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.trackListItem {
  display: inline-flex;
  columns: auto;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 18vh;
  margin: 15px;
  color: white;
  text-overflow: contain;
  text-decoration: none;
  font-size: 0.7rem;
  cursor: pointer;
  background: #edcb53;
  background: -webkit-linear-gradient(124deg, #63615d 0%, #ffa20f 100%);
  background: linear-gradient(124deg, #edcb53 0%, #ffa20f 100%);
}
#trackName
{
  position: absolute;
  top:2vh;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: black;
  font-size: 1.5rem;
  z-index: 1000;
  padding:10px;
  color:#edcb53;
}
#mapQualiResults{
  position:absolute;
  top:12%;
  left:1%;
  width:35vw;
  height:20vw;
  z-index: 1000;
  color:white;
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:10px;
  cursor: pointer;
  background-color: transparent;
 
}


.mapQualiResultsItem
{
  display: flex;
  font-family:'Secular One';
  text-decoration:none;
  margin-top:5px;
  background-color: #A50021;
  padding:10px;
  font-size: 0.2rem;
  
}

#mapRaceResults
{
  position:absolute;
  top:12%;
  left:40%;
  width:35vw;
  height:20vw;
  z-index: 1000;
  background-color: transparent;
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:10px;
  cursor: pointer;
  

}

.mapRaceResultsItem
{
  display: flex;
  font-family:'Secular One';
  text-decoration:none;
  margin-top:5px;
  background-color: #A50021;
  color:white;
  padding:10px;
  font-size: 0.2rem;
  
}

#startingGrid
{
  position:absolute;
  top:20%;
  left:79%;
  width:auto;
  height:auto;
  z-index: 1000;
  background-color: #A50021;
  list-style: none; 
  cursor: pointer;
  padding: 7px;
  display: flex;
  flex-direction: column;
}

.startingGridItem
{
  width:auto;
  color:#edcb53;
  width:2.2vw;
  padding:0px 2px 0 2px;
  border-bottom:white solid 2px;
  border-left:white solid 2px;
  border-right:white solid 2px;
}


/* Animations */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #050505 #0000;
  animation: spin-e04l1k 0.75s infinite linear;
  transform: scale(1);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ff4a47 #0000;
  animation: inherit;
  animation-duration: 0.375s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8px;
}

@keyframes spin-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
